{{!-- 
{{> post-info post}}

{{!-- {{#if loggedIn}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
        <button id="posts-comment" type="submit" class="btn"><a href="/post/{{id}}">Submit</a></button>
                {{!-- <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4> --}}
    </form>
</div>
{{/if}} --}}


{{!-- {{> comments post.comments}} --}}

{{!-- {{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}} --}} --}}